/* Universal CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root CSS Styls */
:root{
    --linear: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

/* Body CSS Styls */
body{
    font-family: 'Work Sans', sans-serif;
    background-color: #fff;
}

/* Header CSS Styls */
.header{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 60px;
    margin-right: 10px;
}
.logo-text{
    background: var(--linear);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    font-weight: 700;
}
.logo-text-dark{
    color: #0B0223;
}
.menu{
    display: flex;
    list-style: none;
    align-items: center;
}
.menu a{
    color: #3C354F;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.menu li{
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
}
.menu-right{
    display: flex;
    list-style: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px 10px 0px;
}

    /* App Main CSS */

/* Hero CSS */
#hero{
    background: url("../images/Group 14.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.hero-summry{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.hero-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
}
.hero-description-list{
    list-style: none;
}
.hero-description-list li{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 5px 10px 5px;
}
.hero-description-list i {
    width: 24px;
    height: 24px;
}
.hero-image img{
    width: 540px;
}
.hero-buttons {
    margin: 20px 0px 10px 0px;
    display: flex;
    justify-content: space-evenly;
}




.container{
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.text-red{
    color: red;
}
.text-write{
    color: #fff;
}
.primary-button{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.secondary-button{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;

}

    /* Resposive CSS */

/* Extra Small */
@media screen and (max-width: 575.98px) {
    .container {
      width: 100%;
      max-width: 100%;
    }
    .row {
        flex-direction: column;
        justify-content: flex-start;
    }
    /* Header Resposive CSS For Mobile */
    .menu{
        flex-direction: column;
    }
    .menu >li {
        margin-top: 5px;
    }
    .menu-right{
        margin-top: 10px;
    }
    .hero-content{
        margin-top: 80px;
    }
    .hero-summry{
        font-size: 35px;
    }
    .hero-title{
        font-size: 70px;
    }
    .hero-image img{
        width: 100%;
    }
    .primary-button, .secondary-button{
        padding: 20px 20px;
        font-size: 20px;
    }
  }
  
  /* Small */
  @media screen and (min-width: 576px) and (max-width: 767.98px) {
    .container {
      width: 100%;
      max-width: 540px;
    }
    .row {
        flex-direction: column;
        justify-content: flex-start;
    }
    /* Header Resposive CSS For Small Mobile */
    .menu{
        flex-direction: column;
    }
    .menu-right{
        margin-top: 10px;
    }
    .hero-content{
        margin-top: 80px;
    }
    .hero-image img{
        width: 100%;
    }
  }
  
  /* Medium */
  @media screen and (min-width: 768px) and (max-width: 991.98px) {
    .container {
      width: 100%;
      max-width: 720px;
    }
    .row {
        flex-direction: column;
        justify-content: flex-start;
    }
    .hero-content{
        margin: 80px auto 0;
    }
  }

  /* Tablet */
  @media screen and (min-width: 768px) and (max-width: 1023.98px) {
    .container {
      width: 100%;
      max-width: 960px;
    }
  }
  /* Large */
  @media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .container {
      width: 100%;
      max-width: 960px;
    }
  }
  
  /* X-Large */
  @media screen and (min-width: 1200px) and (max-width: 1399.98px) {
    .container {
      width: 100%;
      max-width: 1140px;
    }
  }
  
  /* XX-Large */
  @media screen and (min-width: 1400px) {
    .container {
      width: 100%;
      max-width: 1320px;
    }
  }
  